*{

margin: 0;
padding: 0; 

}

body{

height: 100vh;
background-color: rgb(177, 111, 182);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
color:rgb(251, 251, 251)


}

.cabecalho {

padding: 2% 0% 0% 25%;

}

.cabecalho-menu{

display:flex;
gap: 80px;

}

.cabecalho-menu-links{

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 24px;
font-weight: 600;
color: rgb(96, 79, 248);
text-decoration: none;

}

.titulo-destaque {

color: 96, 79, 248;

}

.conteudo {

height: auto;
flex-direction: column;
margin: 10%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 15px;

}

.apresentacao-conteudo {

width: 615px;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
text-align: center;
height: auto;
gap: 40px;
order: 2;

}

.apresentacao-conteudo-titulo {

font-size: 36px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;

}

.apresentacao-conteudo-paragrafo {

font-size: 24;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;


}